/* Style Sheet */

html {
    height: 100%;
    margin: auto;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    display: flex;
    width: 300px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    margin-left: 90px;
}

.links {
    display: flex;
    width: 600px;
    padding-right: 100px;
    justify-content: space-around;
    color: #e5e7eb;
    font-size: 18px;  
}

.body1 {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}


.photogrid {
    display: flex;
    flex-direction: column; 
}

.title1 {
    display: flex;
    width: 500px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.description1 {
    display: flex;
    width: 400px;
    font-size: 18px;
    color:#e5e7eb;
}

.image1container {
    display: flex;
    justify-content: center;
}

.image1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.button1container {
    display: flex;
    justify-content: flex-start;
}

.button1 {
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 30px;
}

.title2container {
    display: flex;
    justify-content: center;
}

.title2 {
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 30px;
}

.photogrid2container {
    display: flex;
    justify-content: center;
    border: 1px solid green;
}

.photogrid2 {
    display: flex;    
}

.photogriditem1 
.photogriditem2 
.photogriditem3
.photogriditem4 {
    height: 300px;
    width: 300px;
}

.photogriddesc {
    font-size: 18px;
    color: #e5e7eb;
}

.body3 {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    border: 1px solid red;
}

.quote {
    display: flex;
}